
.header {
  height: 5rem;
  border-bottom: 0.1rem solid #c4c4c4;
  background-color: #fefefe;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  padding: 1rem;
  max-width: var(--max-content-width);
  margin: auto;
}

.site-name {
  font-size: 2.4rem;
  margin: auto 1.5rem;
  width: var(--max-content-width);
}

.note-taking-information {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.tournament-name {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  font-variant: small-caps;
}

.round-information {
  display: flex;
}

.round-name {
  font-variant: small-caps;
  font-size: 2rem;
  margin: 0 2rem 0 0;
}

.group-name {
  font-variant: small-caps;
  font-size: 2rem;
  margin: 0;
}

.judge-information {
  display: flex;
  flex-direction: column;
}

.judge-name {
  font-size: 2rem;
  margin: 0;
}

.judge-type-name {
  font-size: 2rem;
  font-weight: 200;
  margin: 0;
}
