.couple-picker-container {
  margin: 4rem 0;
  display:flex;
  justify-content: space-between;
}

.couple-picker {
  height: 5rem;
  width: 12rem;
  margin: auto;

  outline: none;

  display: inline-block;
  border: 0.3rem solid #c4c4c4;
  border-radius: 0.8rem;

  text-decoration: none;
  background: #fafafa;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.couple-picker:hover,
.couple-picker:focus {
  border: 0.3rem solid #2d29e2;
}

.couple-picker:active {
  transform: scale(0.99);
}

.couple-picker--selected {
  border: 0.3rem solid #2d29e2;
}

.note-taking-area {
  display: flex;
  margin-bottom: 2rem;
}

.note-taking-column {
  width: 50%;
  margin: 0 1rem;
}

.note-taking-column-header {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: center;
  margin: 0 0 1rem 0;
}

.note-taking-column-item {
  border: none;
  background: #fefefe;

  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 20%);
  margin-bottom: 1.5rem;
}

.note-taking-column-item--blue {
  border-top: 0.2rem solid #b2dfe5;
}

.note-taking-column-item--red {
  border-top: 0.2rem solid #e5bbb2;
}

.note-taking-column-item--green {
  border-top: 0.2rem solid #c3e5b2;
}

.note-taking-column-item--purple {
  border-top: 0.2rem solid #bdb2e5;
}

.note-taking-column-item-header {
  font-size: 2.2rem;
  font-variant: small-caps;
  font-weight: 700;
  text-align: center;

  margin: 0;
  padding: 0.5rem 0;
}

.note-taking-column-item-options {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem;
}

.note-taking-item-option {
  font-size: 2.2rem;
  padding: 0.5rem 1rem;
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.note-taking-item-option-value {
  margin: 0;
  margin-right: 1rem;
}

.note-taking-submit-button {
  float: right;
  
  height: 5rem;
  width: 12rem;
  margin: 0;

  outline: none;

  border: none;
  border-radius: 0.8rem;

  text-decoration: none;
  background: #569ab8;
  color: #fefefe;
  font-family: sans-serif;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
}

.note-taking-submit-button:active {
  transform: scale(0.99);
}